* {
    margin: 0;
    padding: 0;
}

.page_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#input_board {
    background-color: grey;
}

#input_board tr td {    
    width: 100px;
    height: 100px;
    background-color: rgb(247, 230, 186);
    box-sizing: border-box;
}

#input_board td:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.menace_section {
    max-height: 900px;
    overflow-y: scroll;
    margin-left: 50px;
}

.board_section {
    justify-content: center;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1300px) {
    .menace_section {
        display: none;
    }
}

#menace tr td {
    margin: 5px;
    padding: 5px;
    width: 72px;
    height: 22px;
    background-color: rgb(192, 192, 192);
    text-align: right;
    margin: 0;
    font-size: 0.8em;
}

#menace td:hover {
    cursor: pointer;
    filter: brightness(85%);    
}

.board_wrapper {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.box_info {
    background-color: rgb(228, 228, 228);
    margin-bottom: 20px;
}

#next_box {
    background-color: white;
    width: 560px;
    height: 110px;
    border: 2px solid rgb(182, 182, 182);
}

#next_box tr td {
    height: 100%;
    width: 50%;
    text-align: center;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

#next_box_number {
    font-size: 3em;
}

#next_box_hint {
    font-size: 1.3em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#next_box_hint tr td{
    border: solid 1px black;
    width: 30px;
    height: 30px;
}

button {
    height: 70px;
}

.svgicon {
    width: 90%;
    height: 90%;
}

/* statistics */
.display_backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.display_backdrop:hover {
    cursor: pointer;
}

.statsModal {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0 30px 30px 30px;
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.figure {
    width: 200px;
    height: 200px;

    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figures .donutDisplay {
    height: 200px;
}

.figures .lossDisplay {
    height: 400px;
    width: 800px;
}

.figures:hover {
    cursor: initial;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header h2 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.modal-header button {
    background: none;
    border: none;
    font-size: 3em;
}

.modal-header button:hover {
    cursor: pointer;
}